---
import type { CollectionEntry } from "astro:content";

interface Props {
  posts: CollectionEntry<"blog">[];
}
const { posts } = Astro.props;
---

{
  posts.map((post) => (
    <section>
      <h2>
        <a href={`/blog/${post.id}`}>{post.data.title}</a>
      </h2>
      {post.data.date && <p>{post.data.date}</p>}
      {post.data.description && <p>{post.data.description}</p>}
    </section>
  ))
}
