---
interface Props {
  title?: string;
}
const { title = "My Blog" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link rel="stylesheet" href="/tufte.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="64x64"
      href="/favicon/favicon-64x64.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="128x128"
      href="/favicon/favicon-128x128.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="256x256"
      href="/favicon/favicon-256x256.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="/favicon/favicon-512x512.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="1024x1024"
      href="/favicon/favicon-1024x1024.png"
    />
    <slot name="head" />
  </head>
  <body>
    <slot />
  </body>
</html>
